.heading{
    color: green;
    text-align: center;
    margin-top: 100px;
    font-size: 60px;
    font-style: italic;
    font-weight: 100;
}
.para{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-style: oblique;

}

form input{
    padding: 15px;
    border-radius: 10px;
    
}
form{
    text-align: center;
    margin-top: 80px;
}
.header{
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
}
nav{
    width: 100%;
    
    padding: 50px;
}
img{
    width: 350px;
}
.product{
    margin-top: 150px;
    width: 100%;
  
}
.header1{
    margin-left: 80px;
    margin-top: 20px ;
}
.header2{
    margin-left: 80px;

}
.header3{
    margin-left: 80px;
}