.heading{
    color: whitesmoke;
    text-align: center;
    margin-top: 100px;
    font-size: 60px;
    font-style: italic;
    font-weight: 100;
}
.para{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-style: oblique;

}
body{
    background-image: linear-gradient(to top, #0BA360 0%, #3CBA92 100%);
}

form input{
    padding: 15px;
    border-radius: 10px;
    
}
form{
    text-align: center;
    margin-top: 80px;
}
.header{
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
}
nav{
    width: 100%;
    
    
}
img{
    margin-top: 20px;
    width: 350px;
    height: 250px;
}
.product{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(75, 71, 71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
  
  
}
.header1{
    margin-left: 80px;
    margin-top: 20px ;
}
.header2{
    margin-left: 0px;

}
.header3{
    margin-left: 80px;
    font-style: italic;
}
.button{
    
    margin-left: 100px;
    
}